In [1]:
import pandas as pd
import os
from tqdm import tqdm
from

In [2]:
csv_path = os.path.join('..','Data','NYCparkingViolations','Parking_Violations_Issued_-_Fiscal_Year_2021.csv')

In [3]:
req_cols = ['Street Name','House Number', ]

In [4]:
df.columns

NameError: name 'df' is not defined

In [ ]:
df = pd.read_csv(csv_path, nrows=100000)

In [54]:
aggr_str_nb = None
# aggr_str = dict()
for file in tqdm(os.listdir(os.path.join('..','Data','NYCparkingViolations', 'violationData'))):
    if not file.endswith('.csv'):
        continue
    for chunk in (pd.read_csv(csv_path, chunksize=1000000, usecols= req_cols)):

        if aggr_str_nb is None:
            aggr_str_nb = chunk.groupby(['Street Name','House Number']).size()
            aggr_str = chunk['Street Name'].value_counts()

        else:
            aggr_str_nb = aggr_str_nb.add(chunk.groupby(['Street Name','House Number']).size(), fill_value=0)
            aggr_str = aggr_str.add(chunk['Street Name'].value_counts(), fill_value=0)
            
aggr_str_nb.to_csv('aggr_str_nb.csv')
aggr_str.to_csv('aggr_str.csv')

100%|███████████████████████████████████████████████████████████████████████████████████| 8/8 [15:51<00:00, 118.92s/it]

In [42]:
t = aggr_str.add(chunk['Street Name'].value_counts(), fill_value=0)

In [50]:
aggr_str_nb.sort_values(ascending=False)

Street Name       House Number
PELHAM PKWY S     1400            147.0
ORCHARD BEACH RD  1               119.0
DYCKMAN ST        348             105.0
ATLANTIC AVE      1825             98.0
VIELE AVE         1340             91.0
                                  ...
BLONDELL AVE      1401              7.0
BLAKE ST          338               7.0
BLAKE AVENUE      392               7.0
                  375               7.0
ZEREGA AVENUE     1668              7.0
Length: 6059, dtype: float64

In [51]:
aggr_str_nb.to_csv('aggr_str_nb.csv')

In [23]:
result

NameError: name 'result' is not defined

In [ ]:
aggr_str = chunk['Street Name'].value_counts()

In [20]:
aggr_str_nb

Street Name    House Number
1 AVE          1746           NaN
               2330           NaN
10 AVE         6809           NaN
10 AVENUE      7604           NaN
10 ST          40-05          NaN
                               ..
YORK AVE       1571           NaN
               1597           NaN
YORK STREET    202            NaN
YUCCA DR       3              NaN
ZEREGA AVENUE  1668           NaN
Length: 6059, dtype: float64

In [ ]:
aggr_str + chunk['Street Name'].value_counts()

In [7]:
df['Street Name'].value_counts()

WB CONDUIT BLVD @ LI    1869
WB QUEENS BLVD @ 72N    1813
EB W 14TH STREET @ 5    1671
EB HORACE HARDING EX    1083
SB WEST ST @ LEROY S     984
                        ...
24 AVE                     1
E RD ST                    1
BAY 16                     1
83 STREET                  1
EB NEW DORP PLAZA SO       1
Name: Street Name, Length: 3601, dtype: int64

In [16]:
df.groupby(['Street Name','House Number']).size().sort_values(ascending=False)

Street Name       House Number
PELHAM PKWY S     1400            21
ORCHARD BEACH RD  1               17
DYCKMAN ST        348             15
ATLANTIC AVE      1825            14
VIELE AVE         1340            13
                                  ..
BLONDELL AVE      1401             1
BLAKE ST          338              1
BLAKE AVENUE      392              1
                  375              1
ZEREGA AVENUE     1668             1
Length: 6059, dtype: int64

In [12]:
df.columns

Index(['Summons Number', 'Plate ID', 'Registration State', 'Plate Type',
       'Issue Date', 'Violation Code', 'Vehicle Body Type', 'Vehicle Make',
       'Issuing Agency', 'Street Code1', 'Street Code2', 'Street Code3',
       'Vehicle Expiration Date', 'Violation Location', 'Violation Precinct',
       'Issuer Precinct', 'Issuer Code', 'Issuer Command', 'Issuer Squad',
       'Violation Time', 'Time First Observed', 'Violation County',
       'Violation In Front Of Or Opposite', 'House Number', 'Street Name',
       'Intersecting Street', 'Date First Observed', 'Law Section',
       'Sub Division', 'Violation Legal Code', 'Days Parking In Effect',
       'From Hours In Effect', 'To Hours In Effect', 'Vehicle Color',
       'Unregistered Vehicle?', 'Vehicle Year', 'Meter Number',
       'Feet From Curb', 'Violation Post Code', 'Violation Description',
       'No Standing or Stopping Violation', 'Hydrant Violation',
       'Double Parking Violation'],
      dtype='object')

# nie ma bbl trzeba to będzie obejść

In [35]:
df[['House Number', 'bbl']]

KeyError: "['bbl'] not in index"

In [30]:
df.iloc[0]['House Number']

'SHORE FRONT PKWY'

In [56]:
from geopy import Nominatim
locator  = Nominatim(user_agent="myGeocoder")

In [61]:
locator.geocode(('Broadway', 'W' ))

Location(42nd Street - Times Square (N,Q,R,W), Broadway, Manhattan Community Board 5, Manhattan, New York County, New York, 10019, United States, (40.75475555, -73.98663778727598, 0.0))

In [59]:
locator.geocode(('Broadway', 'E', 'NYC' ))

WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /search?q=%28%27Broadway%27%2C+%27E%27%2C+%27NYC%27%29&format=json&limit=1

Location(Broadway, SoHo, Manhattan, New York County, New York, 10003, United States, (40.7250916, -73.9970609, 0.0))